{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Tito plugin for Craft CMS 3.x
 *
 * TitoEvent Field Input
 *
 * @author    Eli Van Zoeren
 * @copyright Copyright (c) 2018 Eli Van Zoeren
 * @link      https://elivz.com
 * @package   Tito
 * @since     1.0.0
 */
#}

{% import "_includes/forms" as forms %}

{# {% do view.registerAssetBundle("elivz\\tito\\assetbundles\\titoeventfield\\TitoEventFieldAsset") %} #}

<select class="tito-event-field" id="{{ name }}" name="{{ name }}">
    {% for key, label in options %}
        <option value="{{ key }}"{% if (key~'') is same as (value~'') %} selected{% endif %}>{{ label }}</option>
    {% endfor %}
</select>
